COMPOSE_PROJECT_NAME=hce

# Base de datos
DB_USER=your-db-user
DB_PASSWORD=your-db-password
DB_NAME=your-db-name
DB_PORT=your-db-port

DATABASE_URL=postgresql://your-db-user:your-db-password@localhost:your-db-port/your-db-name?sslmode=disable
JWT_SECRET=your-jwt-secret-base64
PORT=your-dev-port
ALLOWED_ORIGIN=http://localhost:5173

VITE_API_URL=http://localhost:your-dev-port


DOCKER_API_PORT=your-docker-api-port
DOCKER_ALLOWED_ORIGIN=http://localhost,http://localhost:5173
DOCKER_VITE_API_URL=http://localhost:your-docker-api-port

UI_PORT=80
